/* CSS Document */
.nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #777;
    font-weight: bold;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    border: none;
    color: #555;
    background-color: #fff;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 10px;
}

.tab-pane {
    margin-top: 20px;
}
  
.border-0 {
	border: 0;
}

.heading-form {
	margin-bottom: 24px!important;
	margin-top:0;
}

.product-desc {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;	
	line-height: 18px;
	max-height: 180px;
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.form-themSP {
	max-width: 80%;
	margin: 0 auto;
	padding-top: 18px;
}

.text-color {
	color: #777!important;
}

/*UpProduct.php*/
.upProduct-box {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 28px 4px;
    position: relative;
	background-color: white;
	z-index: 2;
}

.bg-dark {
	background-color: #333;
	opacity: 0.8;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	z-index: 1;
}

.cancel-btn {
	position: absolute;
	top: 4px;
	right: 4px;
}

.cancel-btn .btn-icon {
	font-size: 35px;
	color: #eee;	
}

/*Index.php*/
li.item.item-animate.wide-first {
    margin-left: 14px;
}

label.btn-search.glyphicon.glyphicon-search {
    padding: 4px 12px;
    cursor: pointer;
}

.input-name {
	max-width: 30%;
	display:inline-block;
	margin-right: 40px; 
}


.acc-signup-form {
	max-width: 660px;
	margin: 0 auto;
}

.btn-add-cart {
	background-color: #f8f8f8;
	color: #333;
	height: 36px;
	width: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	cursor:pointer;
}
.btn-add-cart:hover {
	background-color: #2ecc71;
	color: white;	
}

.blog-img {
	width: 262px;
	height: 147px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.post-desc {
	max-height: 60px;
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.post-content-review {
	line-height: 19px;
	max-height: 133px;
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}